*{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: sans-serif;

}



  /* start navbar section */
#navbar{
  background-color: transparent;
  z-index: 1000;
  position: relative;

}

.navbar{
  float: right;
  position: relative;
  top: 19px;
  right: 48px;
}

.logo{
  width: 10%;
  margin: 53px;
  position: relative;
  top: 27px;
}

.logo a{
  text-decoration: none;
  color: white;
  font-weight: 900;
  font-size: 1.5vw;

}

.navbar nav ul{
  list-style: none;

}

nav ul li:nth-child(n+5){
  left: -29px;
  background-color: rgb(121, 113, 234);
  border-radius: 27px;
  border-radius: 27px;
  padding: 11px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 0.8vw;

}


.navbar nav ul li{
  display: inline-block;
  position: relative;
  top: -78px;
  right: 196px;
  transition: all 1s ease;
  padding: 16px;
  border-bottom-color: white;
  font-weight: 100;



}

.navbar nav ul li:hover{
  display: inline-block;
  padding: 11px;
  position: relative;
  top: -78px;
  right: 196px;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: white;
  transition:all 1s ease;
  transform: translateY(50%);

}

.navbar nav ul li a{
  text-decoration: none;
  /* color: white; */
  color: white;
  font-weight: 100;

}


/* start new portrait section */

#portrait{
  /* background-color: white; */
  background-image: url(../images/hero_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
  top: -53px;
  overflow: visible;
  z-index: 1;
  background-position: 0px 0px;
  padding-bottom: 11em;


}


#portrait:before{
  top: 0;
  content: "";
  left: 0;
  right: 0;
  display: block;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(58, 63, 69,0.8), rgba(58, 63, 69,0.8)), url(../images/hotel3.jpg);
  width: 100%;
  height: 132vh;
  z-index: -1;
  position: absolute;
}

.clearfix{
  content:"";
  clear: both;
  padding-top: 1em;
  padding-bottom: 1em;
}

.portrait-text{
  width: 50%;
  position: relative;
  top: 184px;
  right: -120px;
}

.portrait-text h1{
  font-size: 3vw;
  color: white;
  font-weight: 500;
}

.portrait-text p{
  color: #74797d;
  padding: 2em 0;

}

.portrait-text a {
  position: relative;
  transition: all 1s ease;
  text-decoration: none;
  color: white;
  background-color: rgb(121, 113, 234);
  border-radius: 27px;
  padding: 18px;
  padding-right: 37px;
  padding-left: 37px;
  font-size: .9vw;
  font-weight: 700;
  top: 11px;
}

.portrait-sign a {
  position: relative;
  transition: all 1s ease;
  text-decoration: none;
  color: white;
  background-color: rgb(121, 113, 234);
  border-radius: 27px;
  padding: 18px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: .9vw;
  font-weight: 700;
  top: 11px;
}

.portrait-sign{
  width: 27%;
  float: right;
  background-color: white;
  padding: 1.5em;
  border-radius: 9px;
  position: relative;
  right: 11%;
  top: -46px;
  padding-bottom: 5em;

}

.portrait-sign h3{
  margin: 10px;
  font-weight: 100;
  font-size: 2vw;
}

.portrait-sign form{
  margin: 10px;
}

.portrait-sign form input{
  padding: 10px;
  width: 24vw;
  margin-bottom: 11px;
  color: #32363a;
  border-radius: 4px;
  border-style: solid;
  border-color: #c3bdbd;
  border-width: 1px;
}

/* .portrait-sign form input:nth-child(n+3){
  margin-bottom: 1px;
} */

/* start courses section */

#courses{
top: -53px;
position: relative;
z-index: 1;

}

#courses:before{
  background-color: #7971ea;
  top: -53px;
  position: relative;
  z-index: -1;
  content: "";
  height: 61vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

}

.heading-white h3{
  text-align: center;
  color: white;
  font-size: 3vw;
  font-weight: 800;
  padding: 75px 0px;
  padding-bottom: 173px;
}

.heading-black h3{
  text-align: center;
  color: black;
  font-size: 3vw;
  font-weight: 800;
  padding: 75px 0px;
  padding-bottom: 173px;
}

.course-details{
  width: 31.3333%;
  float: right;
  position: relative;
  right: -22px;
  margin: 10px;
  transition: all .4s ease;
  z-index: 1;


}

.course-details:hover{
  width: 31.3333%;
  float: right;
  position: relative;
  right: -22px;
  box-shadow: 0px 0px 5px 0px #aba4a4;
  margin: 10px;
  transition: all .4s ease;
  z-index: 1;

}

.whole-courses {
  margin: 93px;
  position: relative;
  top: -156px;


}

.course-img{

}

.course-img img{
  width: 100%;
}

.course-text{
  margin: 18px;


}

.course-text h3{
  color: #7971ea;
  font-weight: 100;
  font-size: 1.6vw;

}

.course-text p{
  color: #8e8c87cf;
  font-size: 1.2vw;
  padding: 18px 0px;
}

.course-text span{
  color: #8e8c87cf;
      font-size: 1.2vw;
      padding: 18px 0px;
      float: left;
      display: inline-block;
      position: relative;
      padding-left: 5px;
}

.details{

  position: relative;
  width: 80%;
  top: -22px;

}

.details-bottom{
  position: relative;
  width: 80%;
  top: -22px;

}

.details-right{
  top: -22px;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #a3a29e5e;
}

.course-text a{
  position: relative;
      transition: all 1s ease;
      text-decoration: none;
      color: white;
      background-color: rgb(121, 113, 234);
      border-radius: 5px;
      padding: 14px;
      padding-right: 13px;
      padding-left: 13px;
      font-size: 1.3vw;
      font-weight: 100;
      top: -22px;
      left: 247px;
      width: 50px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;

}

.course-text a:hover{
  position: relative;
  transition: all 1s ease;
  text-decoration: none;
  color: white;
  background-color: rgb(121, 113, 234);
  border-radius: 5px;
  padding: 14px;
  padding-right: 13px;
  padding-left: 13px;
  font-size: 1.3vw;
  font-weight: 100;
  top: -22px;
  left: 247px;
  width: 50px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;

}

.full-details{
  border-top-style: solid;
  padding-top: 21px;
  border-top-color: #a3a29e5e;
  border-top-width: 1px;
  width: 113%;
  display: inline-block;
  position: relative;
  right: 18px;
  top: -21px;
  margin-bottom: -66px;

}



i[name="comment"]{
  padding-right: 4px;
  padding-left: 12px;
}

.prev-next a{
  position: relative;
      transition: all 1s ease;
      text-decoration: none;
      color: white;
      background-color: rgb(121, 113, 234);
      border-radius: 5px;
      padding: 14px;
      padding-right: 27px;
      padding-left: 27px;
      font-size: 1.2vw;
      font-weight: 100;
      top: 50%;
      left: 50%;
      width: 50px;
}
.prev-next a:hover{
  position: relative;
  transition: all 1s ease;
  text-decoration: none;
  color: white;
  background-color: rgb(121, 113, 234);
  border-radius: 5px;
  padding: 14px;
  padding-right: 27px;
  padding-left: 27px;
  font-size: 1.32vw;
  font-weight: 100;
  top: 50%;
  left: 50%;
  width: 50px;
}

.prev-next{
  position: relative;
  top: 58px;
  right: 66px;

}

/* strart programs */

#programs{

}

#programs article p{
  color: #8e8c87cf;
  text-align: center;
  width: 50%;
  position: relative;
  top: -153px;
  right: -25%;


}

.programs-img{
  width: 55%;
}

.programs-img img{
  width:100%;
}

.programs-text{
  width: 41%;
      float: right;
      position: relative;
      top: -377px;
      right: -28px;
}


.programs-para{
  width: 68%;
  color: #8e8c87cf;
  font-size: 1.2em;
  font-weight: 100;

}

.programs-text h3{
  font-size: 2vw;
  font-weight: 100;
}

.grads{
  color: #7971ea;
    font-size: 1.2vw;
    position: relative;
    top: 31px;
    padding-bottom: 17px;


}

.programs-text i{
  background-color: #7971ea;
      color: white;
      padding: 10px;
      border-radius: 50%;
      font-size: .8vw;


}
